---
import Layout from '../../layouts/Layout.astro';
---

<Layout>

<h1>Committee</h1>

<p>The committee is composed of university students and is responsible for the day to day running of the society. Please contact them if you have any questions. At the end of Lent term there is an opportunity to stand for next year’s committee. If you are interested please contact a member of the committee.</p>

<p>To contact individual committee members via email, add “@cam.ac.uk” after the combination of letters and numbers given. If you encounter problems contacting the committee members, please contact the webmaster directly.</p>

<h2>Current Committee</h2>

<h2>Senior Committee</h2>

The senior commitee...

<!-- make a table of current pres and ST, and then previous -->

<h2>Previous committee</h2>

<div class="container">
    <table>
        <thead>
            <tr>
                <th>Year</th>
                <th>Chair</th>
                <th>Secretary</th>
                <th>Treasurer</th>
                <th>Obs. Secretary</th>
                <th>Webmaster</th>
                <th>Events Officer</th>
                <th>Publicity Officer</th>
                <th>Neptune Editor</th>
                <th>Membership Secretary</th>
                <th>Stash Officer</th>
                <th>Publications Secretary</th>
                <th>Social Secretary</th>
                <th>Committee Member</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2024-2025</td>
                <td>M. Rotaru</td>
                <td>B. Li</td>
                <td>K. Kwok</td>
                <td>B. Li, P. Jackson, M. Hidary, M. Tell</td>
                <td>P. Jackson</td>
                <td>M. Rotaru</td>
                <td>M. Tell</td>
                <td>A. Liew</td>
                <td></td>
                <td>M. Hidary</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2023-2024</td>
                <td>A. Blake-Martin</td>
                <td>J. Lok</td>
                <td>S. Webber</td>
                <td>M. Hidary, G. L. Yeo, A. Aramanekoppa</td>
                <td>D. Choi</td>
                <td>D. Nicolae</td>
                <td>D. Choi</td>
                <td>C. Mack</td>
                <td></td>
                <td>M. Hidary</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2022-2023</td>
                <td>L. Li</td>
                <td>J. Lok</td>
                <td>S. Ni</td>
                <td>R. Battle, J. Thornton, A. Aramanekoppa, H. Zhu</td>
                <td>H. Zhu</td>
                <td>X. Wang</td>
                <td>C. Cheong</td>
                <td></td>
                <td></td>
                <td>S. Sun</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2021-2022</td>
                <td>X. Wang</td>
                <td>O. Normand</td>
                <td>T. Xing</td>
                <td>R. Battle, J. Thornton, S. Shen</td>
                <td>O. Normand</td>
                <td></td>
                <td>H. Zakaryan</td>
                <td></td>
                <td>T. Xing</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2020-2021</td>
                <td>H. Zakaryan</td>
                <td>O. Normand</td>
                <td>C. Preston</td>
                <td>R. Battle, J. Thornton, S. Shen</td>
                <td></td>
                <td>T. Xing</td>
                <td>P. Keller</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2019-2020</td>
                <td>O. Normand</td>
                <td>M. Zhang</td>
                <td>Z. Shumyalov</td>
                <td>H. Metrebian, J. Rawson</td>
                <td>H. Sanderson</td>
                <td>T. Tai</td>
                <td>A. Parsons</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2018-2019</td>
                <td>H. Sanderson</td>
                <td>A. Sellek</td>
                <td>J. Rawson</td>
                <td>H. Metrebian, D. Mortimer</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2017-2018</td>
                <td>S. Fu</td>
                <td>Li X.</td>
                <td>A. Sellek</td>
                <td>J. Xiao, H. Metrebian, H. Rendell</td>
                <td></td>
                <td>S. Baldwin</td>
                <td></td>
                <td></td>
                <td>Z. Wang</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2016-2017</td>
                <td>A. Sellek</td>
                <td>H. Piatkowska</td>
                <td>X. Lin</td>
                <td>J. Xiao</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>P. Gupta</td>
            </tr>
            <tr>
                <td>2015-2016</td>
                <td>V. Perovic</td>
                <td>M. Brockwell</td>
                <td>J. Piotrowska</td>
                <td>J. Xiao, F. Agocs, S. An</td>
                <td>J. Piotrowska</td>
                <td>P. Kosec</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2014-2015</td>
                <td>S. Fort</td>
                <td>Alex van der Wateren</td>
                <td>S. Guggiari</td>
                <td>R. Nezic</td>
                <td>Alex van der Wateren</td>
                <td>Nicola Papastavrou-Brooks</td>
                <td></td>
                <td></td>
                <td>Matthew Bayliss</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2013-2014</td>
                <td>O. Pambos</td>
                <td>S. Bosman</td>
                <td>I. Banik</td>
                <td>R. Nezic</td>
                <td>A. van der Wateren</td>
                <td></td>
                <td></td>
                <td></td>
                <td>S. Arshad</td>
                <td></td>
                <td></td>
                <td></td>
                <td>J. Harrison</td>
            </tr>
            <tr>
                <td>2012-2013</td>
                <td>P. Hatfield</td>
                <td>J. Harrison</td>
                <td>S. Bosman</td>
                <td>R. Nezic</td>
                <td>J. Hu</td>
                <td></td>
                <td></td>
                <td></td>
                <td>S. Guggiari</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2011-2012</td>
                <td>S. Bosman</td>
                <td>C. Draper</td>
                <td>P. Hatfield</td>
                <td>N. Booker</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2010-2011</td>
                <td>S. White</td>
                <td>M. Backens</td>
                <td>I. Stefan</td>
                <td>A. Buell</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>P. Dumitrescu</td>
            </tr>
            <tr>
                <td>2009-2010</td>
                <td>P. Dumitrescu</td>
                <td>D. Tommei</td>
                <td>I. Stefan</td>
                <td>O. Knevitt, O. Strickson</td>
                <td>M. Backens</td>
                <td></td>
                <td></td>
                <td></td>
                <td>M. Backens</td>
                <td></td>
                <td>S. White</td>
                <td>G. James</td>
                <td></td>
            </tr>
            <tr>
                <td>2008-2009</td>
                <td>G. James</td>
                <td>P. Dumitrescu</td>
                <td>J. Luk</td>
                <td>Y. Bahe, A. Waddell</td>
                <td>M. Backens</td>
                <td></td>
                <td></td>
                <td></td>
                <td>I. Stefan</td>
                <td></td>
                <td>Y. Wan</td>
                <td>R. Zhao</td>
                <td>S. White</td>
            </tr>
            <tr>
                <td>2007-2008</td>
                <td>A. Waddell</td>
                <td>W. Szlachta</td>
                <td>M. Lakin</td>
                <td>Y. Bahe</td>
                <td></td>
                <td></td>
                <td>L. Witkowski</td>
                <td></td>
                <td>J. Luk</td>
                <td></td>
                <td></td>
                <td>P. Wong</td>
                <td></td>
            </tr>
            <tr>
                <td>2006-2007</td>
                <td>Y. Bahe, D. Bradley-Williams</td>
                <td>A. Parker</td>
                <td>M. Larkin, Y. Bahe</td>
                <td>N. Panchal, W. Szlachta</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>S. Simic</td>
                <td></td>
                <td>S. French</td>
                <td>P. Wong</td>
                <td></td>
            </tr>
            <tr>
                <td>2005-2006</td>
                <td>R. Shaw</td>
                <td>J. Horder</td>
                <td>T. Tan</td>
                <td>D. Trethewey</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>M. Preece</td>
                <td></td>
                <td>S. French</td>
                <td>A. Parker</td>
                <td></td>
            </tr>
            <tr>
                <td>2004-2005</td>
                <td>J. Horder</td>
                <td>D. Szwer</td>
                <td>R. Tu</td>
                <td>D. Trethewey</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>S. Ulker</td>
                <td></td>
                <td>L. Harper-Clark</td>
                <td>M. Dobrowolski</td>
                <td>A. Lea-Cox</td>
            </tr>
            <tr>
                <td>2003-2004</td>
                <td>L. Harper-Clark</td>
                <td>D. Szwer</td>
                <td>L. MacDonald</td>
                <td>A. Lea-Cox</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>S. Bohndiek</td>
                <td></td>
                <td>D. Trethewey</td>
                <td>A. Bargh</td>
                <td></td>
            </tr>
            <tr>
                <td>2002-2003</td>
                <td>S. Hill</td>
                <td>S. Clough</td>
                <td>L. MacDonald</td>
                <td>D. Manning</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>I. Jendrzejewski</td>
                <td></td>
                <td>T. Tincani</td>
                <td>C. Lintott</td>
                <td>D. Ford</td>
            </tr>
            <tr>
                <td>2001-2002</td>
                <td>D. Ford</td>
                <td>J. Bowe</td>
                <td>M. Evans</td>
                <td>C. Lintott</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>N. Draper</td>
                <td></td>
                <td>M. Evans</td>
                <td>S. Hill</td>
                <td></td>
            </tr>
            <tr>
                <td>2000-2001</td>
                <td>C. Lintott</td>
                <td>D. Ford</td>
                <td>L. Lobo</td>
                <td>G. Coates</td>
                <td></td>
                <td></td>
                <td>C. Burgess</td>
                <td></td>
                <td>N. Draper</td>
                <td></td>
                <td>N. Franklin</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>1999-2000</td>
                <td>G. Lo</td>
                <td>C. Frayn</td>
                <td>K. Howson, L. Lobo</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>R. Edgar</td>
                <td></td>
                <td>L. Seugnet</td>
                <td></td>
                <td>J. Keen, N. Ball</td>
            </tr>
            <tr>
                <td>1998-1999</td>
                <td>C. Frayn</td>
                <td>G. Lo</td>
                <td>R. Edgar</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>T. Bethell, N. Ball, E. Woodfield</td>
            </tr>
            <tr>
                <td>1997-1998</td>
                <td>J. Keen</td>
                <td>V. Yardley</td>
                <td>E. Inglessi</td>
                <td></td>
                <td></td>
                <td></td>
                <td>S. Barakat</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>C. Frayn, R. Edgar</td>
            </tr>
            <tr>
                <td>1996-1997</td>
                <td>R. Lowe</td>
                <td>E. Inglessi</td>
                <td>J. Keen</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>P. Nosal, G. Stachowski, I. Sparkes, N. Teanby</td>
            </tr>
            <tr>
                <td>1995-1996</td>
                <td>N. Teanby</td>
                <td>R. Lowe</td>
                <td>L. Norton</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>P. McLaughlin, T. Hornbuckle, L. Morris, I. Sparkes</td>
            </tr>
        </tbody>
    </table>
</div>

</Layout>