---
import Layout from "../../layouts/Layout.astro";
import "../../assets/constitution.css";
---

<Layout>
    <h1>Constitution</h1>

    <p>Adopted March 2023</p>

    The authoritative version of the CUAS constitution can be <a
        href="/src/assets/CUAS_Constitution.pdf">as a PDF here</a
    >.
        <ol type="A">
            <li>
                <p><strong>Foundations</strong></p>
                <ol type="1">
                    <li><p><strong>The Name of the Society</strong></p></li>
                    <blockquote>
                        <p>
                            The Name of the Society shall be: ‘Cambridge University
                            Astronomical Society’.
                        </p>
                    </blockquote>
                    <li><p><strong>The Objects of the Society</strong></p></li>
                </ol>
            </li>
        </ol>

        <ol start="2" type="1">
            
        </ol>
        <blockquote>
            <p>
                The Society exists to provide for and to encourage an interest
                in Astronomy among members and associates of the University of
                Cambridge (‘the University’).
            </p>
        </blockquote>
        <ol start="3" type="1">
            <li>
                <p><strong>The Activities of the Society</strong></p>
                <ol type="i">
                    <li>
                        <p>
                            The Society shall organise meetings held during
                            University Terms, for talks, discussions, etc. and
                            shall provide opportunities for visits to the
                            University Observatories, with demonstrations and
                            such facilities furthering its objects.
                        </p>
                    </li>
                    <li>
                        <p>
                            The Society may affiliate to or participate in the
                            activities of any other body as may seem fitting to
                            a Full Committee Meeting.
                        </p>
                    </li>
                </ol>
            </li>
            <li>
                <p><strong>Membership of the Society</strong></p>
                <ol type="i">
                    <li>
                        <p>
                            Membership of the Society shall be open to all
                            members of the University of Cambridge and of Anglia
                            Ruskin University and to others at the discretion of
                            the Committee, who pay the subscription of the
                            Society.
                        </p>
                    </li>
                    <li>
                        <p>
                            Membership to current students (undergraduate or
                            graduate) at the University of Cambridge or Anglia
                            Ruskin University may be given for a limited time or
                            for life. Membership to all other applicants cannot
                            be given for more than three years without being
                            subject to renewal.
                        </p>
                    </li>
                    <li>
                        <p>
                            Life membership is immutable save by the provision
                            clause 15(i).
                        </p>
                    </li>
                </ol>
            </li>
            <li>
                <p><strong>The Subscription of the Society</strong></p>
                <ol type="i">
                    <li>
                        <p>
                            The Subscription of the Society shall be fixed by a
                            Full Committee Meeting.
                        </p>
                    </li>
                    <li>
                        <p>
                            An Ordinary Committee Meeting may waive payment of
                            the subscription by persons whom they propose to
                            elect to the Senior Committee.
                        </p>
                    </li>
                </ol>
            </li>
            <li><p><strong>Annual General Meeting</strong></p></li>
        </ol>
        <blockquote>
            <p>
                There shall be an Annual General Meeting (AGM) of the Society in
                each academic year towards the end of Full Lent Term. All
                members shall be given at least two weeks’ notice. At the
                Meeting the Chair shall report on the state of the Society, and
                the Treasurer shall present a financial account, to be open for
                inspection at the Meeting.
            </p>
        </blockquote>
        <ol start="7" type="1">
            <li>
                <p><strong>Cases of Dispute</strong></p>
                <ol type="i">
                    <li>
                        <p>
                            A member may at any time require further
                            investigation into a matter of Society business. If
                            a serious dispute arises, the matter shall be
                            referred to the President for arbitration. The
                            President may call for a decision by ballot at any
                            Meeting of the Society, at least five days’ notice
                            of the ballot having been given.
                        </p>
                    </li>
                    <li>
                        <p>
                            The Society’s only disciplinary sanctions are to
                            expel or to suspend a member whose actions are felt
                            to be such as to bring the Society into disrepute,
                            or to adversely affect the smooth running of the
                            Society in a major way. Such expulsion or suspension
                            can only be effected by a majority vote of all
                            Executive Committee members, excluding the Senior
                            Treasurer. In the event of an expulsion, the
                            excluded member is required to return all equipment,
                            documents and finances belonging to the Society
                            within 7 days. They will not be entitled to any full
                            or partial refund of annual subscriptions.
                        </p>
                    </li>
                    <li>
                        <p>
                            If the excluded or suspended member wishes to appeal
                            the decision, that appeal should be made to the
                            Senior Treasurer, who will consider all the <u
                                >facts</u
                            >, and whose decision will be final. An appeal as to
                            the <u>process</u> of exclusion, <u
                                >but not a further investigation into the facts</u
                            >, may be lodged with the Junior Proctor.
                        </p>
                    </li>
                </ol>
            </li>
        </ol>
        <ol start="2" type="A">
            <li><p><strong>The Committee</strong></p></li>
        </ol>
        <ol start="8" type="1">
            <li>
                <p><strong>The Committee of the Society</strong></p>
                <ol type="i">
                    <li>
                        <p>
                            The affairs of the Society shall be managed by a
                            committee, hereinafter referred to as the Full
                            Committee, elected by members of the Society, and
                            composing of the Senior, Executive and Advisory
                            Committee.
                        </p>
                    </li>
                    <li>
                        <p>
                            All members of the Committee are members of the
                            Society and will generally be members of the
                            University or Anglia Ruskin University. Any
                            Committee member may resign at any time. Except as
                            provided in clause 10(iii) any Committee member
                            shall be eligible for re-election.
                        </p>
                    </li>
                </ol>
            </li>
            <li><p><strong>The Senior Committee</strong></p></li>
        </ol>
        <ol type="i">
            <li>
                <p>
                    The Senior Committee shall consist of a President, a Senior
                    Treasurer and the Vice-President(s). The Senior Treasurer
                    shall be a member of the Regent House, or other person
                    approved by the Junior Proctor.
                </p>
            </li>
            <li>
                <p>
                    In the case of election to the Senior Committee, an Ordinary
                    Committee Meeting shall recommend a person for election (by
                    simple majority nominating the President or Senior
                    Treasurer; by a two-thirds majority for Vice-Presidents).
                    The recommendation shall be placed before the next Meeting
                    of the Society for majority approval.
                </p>
            </li>
            <li>
                <p>
                    The President and Senior Treasurer are reaffirmed yearly at
                    the AGM by majority vote.
                </p>
            </li>
            <li>
                <p>
                    The Vice-Presidents are honorary lifetime appointments,
                    conferring no particular responsibility or precedence, given
                    in recognition of achievement in the field of astronomy, or
                    significant or long-standing contributions to the society.
                </p>
            </li>
        </ol>
        <ol start="10" type="1">
            <li>
                <p><strong>The Executive Committee</strong></p>
                <ol type="i">
                    <li>
                        <p>
                            The Executive Committee shall consist of not less
                            than five and not more than ten members, who must be
                            studying for a degree of status equal to or below a
                            PhD for the duration of their tenure and include a
                            Chair, a Secretary, and a Treasurer (the Officers).
                        </p>
                    </li>
                    <li>
                        <p>
                            The executive committee members must be current
                            members of the University or Anglia-Ruskin
                            University. A majority of the elected members must
                            be full-time undergraduate or postgraduate students
                            of the University of Cambridge.
                        </p>
                    </li>
                    <li>
                        <p>
                            No person may serve on the Executive Committee for
                            more than three years, consecutive or otherwise.
                        </p>
                    </li>
                    <li>
                        <p>
                            Members of the Executive Committee shall continue in
                            office after the end of the AGM until the end of the
                            Lent Term.
                        </p>
                    </li>
                    <li>
                        <p>
                            For so long as the Society shall be Registered with
                            the Junior Proctor, it shall be the duty of the
                            Executive Committee to ensure that the Society
                            complies with the requirements for Registration as a
                            University Society.
                        </p>
                    </li>
                </ol>
            </li>
            <li><p><strong>The Advisory Committee</strong></p></li>
        </ol>
        <ol type="i">
            <li>
                <p>
                    The Advisory Committee shall consist of members who have
                    served on the Executive Committee at least once if they are
                    of BA status and at least twice otherwise.
                </p>
            </li>
            <li>
                <p>
                    The Executive and Advisory Committees together shall not
                    exceed thirteen members.
                </p>
            </li>
            <li>
                <p>
                    Members of the Advisory Committee shall be elected by an
                    Ordinary Committee Meeting.
                </p>
            </li>
            <li>
                <p>
                    Members of the Advisory Committee shall be in office the
                    same period as the Executive Committee.
                </p>
            </li>
        </ol>
        <ol start="12" type="1">
            <li>
                <p>
                    <strong
                        >Procedure for Nomination and Election to the Executive
                        Committee</strong>
                </p>
            </li>
        </ol>
        <ol type="i">
            <li>
                <p>
                    All members of the Executive Committee shall be elected at
                    the Annual General Meeting.
                </p>
            </li>
            <li>
                <p>
                    Nominations must be proposed and seconded by at least two
                    members of the Society and authenticated by the signature of
                    the nominee. Nominations must be communicated to the Chair.
                    All Resident members must be given notice of at least one
                    week of Full Term of a closing time for nominations. A
                    member may be nominated for but may not hold more than one
                    Office. The Chair must ensure that there are sufficient
                    nominations to satisfy clause 10(i).
                </p>
            </li>
            <li>
                <p>
                    For each office or general membership, an election shall be
                    held by secret ballot, each member present having one vote.
                    Re-open Nominations (RON) shall also be an option in each
                    election and shall require a majority to be chosen in the
                    same way as a candidate. In the event of no candidate
                    securing a majority, the candidate at the bottom of the poll
                    shall be eliminated and a second ballot held. This procedure
                    shall be repeated until a candidate achieves an absolute
                    majority.
                </p>
            </li>
            <li>
                <p>
                    If RON wins election to an office, nominations for that
                    position shall be re-opened, and a new election shall be
                    held at a Meeting of the Society, following the rules in
                    clauses 12a(ii) and (iii).
                </p>
            </li>
            <li>
                <p>
                    For each general membership vacancy, all candidates that
                    wish to stand for a general membership stand in each
                    election. until they are a) elected to a position, b)
                    withdraw from the race, c) all vacancies are filled, d) RON
                    wins the election. If RON wins election to a general
                    membership then no further elections for general memberships
                    shall be held unless clause 10(i) is not satisfied, in which
                    case an election shall be held as in clause 12(iv) above.
                </p>
            </li>
            <li>
                <p>
                    The election shall proceed in the order: Chair, Secretary,
                    Treasurer, other positions.
                </p>
            </li>
            <li>
                <p>
                    If any stage of an election results in a tie, the tie shall
                    be broken by the first person in the following order who is
                    present and not standing in that election: Chair, Secretary,
                    Treasurer, President, Senior Treasurer.
                </p>
            </li>
        </ol>
        <ol start="12" type="1">
            <li><p><strong>Vacancies and Urgency Appointment</strong></p></li>
        </ol>
        <ol type="i">
            <li>
                <p>
                    If a vacancy arises for an Officer for reasons other than
                    clause 12(iv), a Full Committee Meeting shall elect a member
                    of the Executive Committee to that Office.
                </p>
            </li>
            <li>
                <p>
                    In a matter of urgency, the President may in consultation
                    with such members of the Committee as conveniently available
                    appoint a new officer. In the event of the President being
                    unable to act, the Senior Treasurer, or failing them a
                    Vice-President shall act in their place.
                </p>
            </li>
            <li>
                <p>
                    Any other vacancy on the Executive Committee may be filled
                    either by co-option or by election. Co-option: Any Ordinary
                    Committee Meeting may vote to co-opt a member to fill a
                    vacancy subject to confirmation by a vote at the next
                    Meeting of the Society. Election: An Ordinary Committee
                    Meeting may decide to fill a vacancy on the Executive
                    Committee by election at any Meeting of the Society. The
                    rule for nomination shall be identical to the ones at an
                    Annual General Meeting.
                </p>
            </li>
        </ol>
        <ol start="13" type="1">
            <li><p><strong>Convening of Committee Meetings</strong></p></li>
        </ol>
        <blockquote>
            <p>
                Committee Meetings may be convened by the President, the Senior
                Treasurer, the Chair or by any two Committee members acting
                together. All Resident members of the Full Committee shall be
                given at least five days’ notice of all Committee Meetings.
            </p>
        </blockquote>
        <ol start="14" type="1">
            <li><p><strong>Procedure at Committee Meetings</strong></p></li>
        </ol>
        <ol type="i">
            <li>
                <p>
                    An Ordinary Committee Meeting shall be a meeting of not less
                    than half of the total membership of the Executive
                    Committee.
                </p>
            </li>
            <li>
                <p>
                    A Full Committee Meeting shall be an Ordinary Committee
                    Meeting with the presence of at least one member of the
                    Senior Committee.
                </p>
            </li>
            <li>
                <p>
                    A Full Committee Meeting (the Annual Full Committee Meeting)
                    shall be held shortly before the Annual General Meeting.
                </p>
            </li>
            <li>
                <p>
                    If a Full Committee Meeting is convened during an Ordinary
                    Committee Meeting to consider a decision made thereat, such
                    decision shall not be implemented until it has received the
                    approval of a Full Committee Meeting.
                </p>
            </li>
            <li>
                <p>
                    Mandatory attendees of a meeting (a Senior Committee member
                    for a Full Committee Meeting and Officers) shall appoint a
                    deputy if they are unable to attend.
                </p>
            </li>
        </ol>
        <ol start="15" type="1">
            <li><p><strong>Powers of the Committee</strong></p></li>
        </ol>
        <ol type="i">
            <li>
                <p>
                    A Full Committee Meeting is the final authority within the
                    Society except when provisioned by clause 7. It shall have
                    the power to refuse membership of the Society or to require
                    a member who shall seem to it unsuited to be such to resign
                    from the Society. A Full Committee Meeting is ipso facto an
                    Ordinary Committee Meeting.
                </p>
            </li>
            <li>
                <p>
                    Ordinary Committee Meetings are responsible for the daily
                    running of the Society in carrying out its objectives in
                    manner, which they deem appropriate.
                </p>
            </li>
            <li>
                <p>
                    An Ordinary Committee Meeting may create, and appoint
                    members to, such minor offices as they may deem appropriate.
                    Minor Officers shall not, ex-officio, be members of the
                    Committee. The duration of office shall not exceed the life
                    of the Committee concerned.
                </p>
            </li>
            <li>
                <p>
                    An Ordinary Committee Meeting may delegate any of its
                    powers, except those of clause 12, 15(iii) and 15(iv), to a
                    stated person for a stated period of time not to exceed the
                    life of the Committee concerned.
                </p>
            </li>
        </ol>
        <ol start="3" type="A">
            <li><p><strong>The Officers</strong></p></li>
        </ol>
        <ol start="16" type="1">
            <li>
                <p><strong>Duties of the Chair</strong></p>
                <ol type="i">
                    <li>
                        <p>
                            The Chair shall preside at all Meetings of the
                            Society and Committee.
                        </p>
                    </li>
                    <li>
                        <p>
                            In the absence of a decision to the contrary, the
                            Chair shall possess all the powers of an Ordinary
                            Committee Meeting, except those of clauses 12 and
                            15(iv), except when such is in session.
                        </p>
                    </li>
                </ol>
            </li>
            <li><p><strong>Duties of the Secretary</strong></p></li>
        </ol>
        <ol type="i">
            <li>
                <p>
                    The Secretary shall ensure that all Resident members of the
                    Full Committee have appropriate notice of all Committee
                    Meetings.
                </p>
            </li>
            <li>
                <p>
                    The Secretary shall take minutes of the Annual General
                    Meeting, Committee Meetings and of business transacted at
                    Meetings of the Society.
                </p>
            </li>
            <li>
                <p>
                    At a Committee Meeting the Secretary shall, unless otherwise
                    directed by the Meeting, read all unsigned Minutes of
                    previous Committee Meetings of the like sort. The minutes
                    (amended if necessary) must be adopted by a simple majority
                    and authenticated by the signature of the Chair.
                </p>
            </li>
            <li>
                <p>
                    The Secretary shall keep safe the records of the Society,
                    other than the financial records, and shall add to these, in
                    particular, details of the meetings held, the minutes
                    recorded, and business reports presented during their term
                    of office.
                </p>
            </li>
        </ol>
        <ol start="18" type="1">
            <li><p><strong>Duties of the Treasurers</strong></p></li>
        </ol>
        <ol type="i">
            <li>
                <p>
                    The Treasurer shall keep proper accounts of the income and
                    expenditure of the Society and shall have these available
                    for inspection by any member of the Society at notice of
                    five days of Full Term.
                </p>
            </li>
            <li>
                <p>
                    The Treasurer shall also keep safe the financial records of
                    the Society.
                </p>
            </li>
            <li>
                <p>
                    The Treasurer shall make a report at the Annual Full
                    Committee Meeting and at the Annual General Meeting and at
                    any other Committee Meeting before which a Committee member
                    shall have given five days’ notice that a report will be
                    required. The Treasurer shall present the completed accounts
                    to the Senior Treasurer for audit not later than the end of
                    Easter Term.
                </p>
            </li>
            <li>
                <p>
                    The Treasurer shall draw up a budget at the beginning of the
                    academic year covering anticipated income and expenditure. A
                    Full Committee Meeting must accept the budget. The Treasurer
                    must give notice of serious deviation from the budget to the
                    members of the Full Committee Meeting.
                </p>
            </li>
        </ol>
        <ol start="19" type="1">
            <li><p><strong>The Monies of the Society</strong></p></li>
        </ol>
        <ol type="i">
            <li>
                <p>
                    The Monies of the Society may be deposited in Bank accounts
                    or kept in such manner as a Full Committee Meeting may
                    decide with a two thirds majority. Members of the Full
                    Committee shall be given at least five days’ notice that
                    this matter is to be considered.
                </p>
            </li>
            <li>
                <p>
                    The Chair and the Treasurer shall have the power to sign
                    cheques and to withdraw money. They should consult the
                    Senior Treasurer on any occasion when the financial affairs
                    of the Society give concern or require unusual expenditure.
                </p>
            </li>
            <li>
                <p>
                    The Senior Treasurer shall not be liable for any financial
                    debt or other obligation of the Society unless personally
                    authorised such a debt in writing.
                </p>
            </li>
        </ol>
        <ol start="20" type="1">
            <li><p><strong>Limitation of Expenditure</strong></p></li>
        </ol>
        <blockquote>
            <p>
                The income and property of the Society shall be applied solely
                to the expressed objects of the Society, and no portion thereof
                shall be paid or made over, directly or indirectly, to any
                member of the Society except in reimbursement of expenses or
                material liability incurred on behalf of the Society.
            </p>
        </blockquote>
        <ol start="4" type="A">
            <li><p><strong>Final Clauses</strong></p></li>
        </ol>
        <ol start="21" type="1">
            <li>
                <p><strong>The Constitution</strong></p>
            <ol type="i">
                    <li>
                        <p>
                            The Constitution shall be made available to any
                            member who gives the Chair five days’ notice that
                            they wish to inspect it.
                        </p>
                    </li>
                    <li>
                        <p>
                            Amendments to the constitution may be made only by a
                            two-thirds majority at a Full Committee Meeting and
                            must be confirmed by a two-thirds majority at a
                            Meeting of the Society. Any member of the Society
                            may require the Committee to consider specific
                            amendments. Five days’ notice that amendments to the
                            constitution are to be discussed must be given to
                            all persons in residence entitled to vote at the
                            respective meetings.
                        </p>
                    </li>
                    <li>
                        <p>
                            No amendment to this Constitution intended to remove
                            the position of Senior Treasurer, to alter its
                            prerogatives and duties, or to change the criteria
                            and procedure for the appointment of a Senior
                            Treasurer can be put to a vote without the prior
                            written agreement of the Junior Proctor of the
                            University of Cambridge.
                        </p>
                    </li>
                </ol>
            </li>
            <li><p><strong>Dissolution</strong></p></li>
        </ol>
        <ol type="i">
            <li>
                <p>
                    A unanimous decision of a Full Committee meeting may
                    initiate the dissolution of the society and only with the
                    conviction that there are no persons willing to manage the
                    affairs of the society.
                </p>
            </li>
            <li>
                <p>
                    The motion of dissolution must contain a provision that the
                    monies of the society remaining after all liabilities have
                    been met shall be entrusted to an appropriate university
                    body, with the condition that in due time a successor
                    society sharing the spirit of clauses 2 and 3 be duly
                    supported.
                </p>
            </li>
            <li>
                <p>
                    The vote of dissolution will be put before a Meeting of the
                    society occurring during Full Term; the members being
                    informed at least twenty-eight days of the matter. A
                    majority of three-fourths is necessary to pass the vote.
                </p>
            </li>
        </ol>
        <ol start="23" type="1">
            <li><p><strong>Interpretation</strong></p></li>
        </ol>
        <ol type="i">
            <li>
                <p>
                    Any reference to a Meeting of the Society in any clause
                    shall mean a meeting held in full term of which all Resident
                    members of more than seven days standing have been given at
                    least 24 hours’ notice that business is to be transacted
                    thereat.
                </p>
            </li>
            <li>
                <p>
                    Any reference to a majority in any clause shall mean a
                    majority of those present and voting. Unless otherwise
                    stated a simple majority is referred to in all references of
                    majorities or voting.
                </p>
            </li>
            <li>
                <p>
                    At an Ordinary or Full Committee Meeting or any other
                    meeting of the Society the Chair shall have the casting vote
                    in the event of a tie, except for elections in which they
                    are a candidate.
                </p>
            </li>
            <li>
                <p>
                    The Advisory Committee shall have a single vote at any
                    Committee Meeting, and this shall count as such for the
                    purpose of evaluating majorities.
                </p>
            </li>
        </ol>
        <ol start="24" type="1">
            <li><p><strong>Use of the Telescopes</strong></p></li>
        </ol>
        <ol type="i">
            <li>
                <p>
                    The management and care of the Northumberland and
                    Thorrowgood telescopes is the responsibility of the
                    Institute of Astronomy and any problems should immediately
                    be reported to the designated member of staff. The use of
                    them and their associated accessories by members of the
                    Society is a privilege which should not be abused. When it
                    is necessary for either of these telescopes to be taken out
                    of service for maintenance do not attempt to move them.
                </p>
            </li>
            <li>
                <p>
                    Non-members who are interested in using the telescopes
                    should approach the Chair for details of joining and
                    obtaining an observing card. If they are members of the IoA,
                    advise them to attend two demonstration evenings. Observing
                    Cards may be awarded to all those who have attended two
                    demonstration evenings and passed their test successfully.
                    The test should demonstrate their ability to take care of
                    the telescopes and prevent them from damage while in use.
                </p>
            </li>
            <li>
                <p>
                    If a visiting party consisting of more than five persons
                    would like to visit the domes for a guided tour or a one-off
                    observing night, they should approach the Chair. The Chair
                    should arrange for at least three members of the Committee
                    to accompany the group.
                </p>
            </li>
        </ol>
        <p>
            <em
                >Adopted at the Meeting of the Society held on 1964 February 26</em>
        </p>
        <p>
            <em
                >Revisions with addition of clause 20(v) adopted at the Meeting
                of the Society on 1967 March 13</em>
        </p>
        <p><em>Revisions to clause 10 on 1975 February 26</em></p>
        <p>
            <em
                >Revisions with addition of clause 21(i-iii) adopted at the
                Meeting of the Society on 2000 March 1</em>
        </p>
        <p><em>Revisions to clause 9(iv) on 2002 March 6</em></p>
        <p><em>Various undocumented changed made between 2002 and 2009</em></p>
        <p><em>Addition of clauses 8a, 12a, 18a, 18b on 2009 March</em></p>
        <p>
            <em
                >Revisions to clause 18(iii) on 2016 March 9, document becomes
                v5c</em>
        </p>
        <p>
            <em
                >Revisions to clauses 6, 8a, 9(iv), 10(i), 12(iii-vii), 21(ii)
                and 22(i-iii), removal of gendered language, including Clause
                21(i), and renumbering of contents page on 2019 March, document
                becomes v6a</em>
        </p>
        <p>
            <em
                >Revisions to clauses 10(i), 11(ii), 14(i) and 14(iii) and
                reformatting on 2022 February 28, document becomes v6b</em>
        </p>
        <p>
            <em
                >Revisions made to original clauses 7, 8, 9, 10, 12, 18a, 19 at
                the request of the Junior Proctor; document becomes v7. The
                opportunity was then taken to renumber clauses to give numerical
                continuity.</em>
        </p>
    </body></Layout
>
