---
import Layout from "../../layouts/Layout.astro";
import "../../assets/constitution.css";
import * as ConstitutionDoc from "../../assets/constitution/constitution.md";
import * as ConstitutionMetadataDoc from "../../assets/constitution/constitution_metadata.md";

const ConstitutionContent = ConstitutionDoc.Content;
const headings = ConstitutionDoc.getHeadings();
---

<Layout>
    <ConstitutionMetadataDoc.Content />

    <p class="do_not_print">
        The authoritative version of the CUAS constitution can be found <a
            href="/CUAS_Constitution.pdf">as a PDF here</a
        >.
    </p>

    <nav class="toc">
        <h4><b>Table of Contents</b></h4>
        <ul>
            {
                headings.map((heading) =>
                    /* Render A, B, C sections normally */
                    heading.depth === 4 ? (
                        <li class="toc-section">
                            <a href={`#${heading.slug}`}>{heading.text}</a>
                        </li>
                    ) : /* Render 1, 2, 3 clauses indented */
                    heading.depth === 5 ? (
                        <li class="toc-clause">
                            <a href={`#${heading.slug}`}>{heading.text}</a>
                        </li>
                    ) : null,
                )
            }
        </ul>
        <small>
            <i>Property of the Cambridge University Astronomical Society</i>
        </small>
    </nav>

    <div class="constitution-content">
        <ConstitutionContent />
    </div>
</Layout>
