---
import Layout from '../../layouts/Layout.astro';
import photoFooter from '../../components/photoFooter.astro';
---

<Layout>

    <h1>Our History</h1>
    
    <p>Founded in 2019, we have been providing the best in quality and service to our customers for over 2 years. We are proud to be a part of the community and look forward to many more years of service.</p>
    
    <p>Our team is dedicated to providing the best in customer service and quality products. We are always looking for ways to improve and provide the best experience for our customers.</p>
    
    <p>Thank you for choosing us for all of your needs. We look forward to serving you for many years to come.</p>
    
    <photoFooter />
    
</Layout>
