---
import Layout from '../../layouts/Layout.astro';
---

<Layout>

    <h1>About CUAS</h1>
    
    <p>Founded in 1942, the Cambridge University Astronomical Society (CUAS) prides itself on many years of continuous and active existence. We are a group of students and members of the university from many different backgrounds who share an interest in all topics related to astronomy.</p>


    <p>We hold many different events including weekly talks (£2 or free to members) from eminent astronomers, observation nights, telescope training (members only), socials and much more. Members of the society have unlimited access to the Northumberland and Thorrowgood telescopes at the Institute of Astronomy, University of Cambridge, once they have completed training on the telescopes (Observation Demos) and passed a short test.</p>
    

    <p>Please explore the website to find out more of the exciting astronomy activities possible in Cambridge and our upcoming events on the Events page and our Instagram Account. We are always keen to share our passion in astronomy with others, whatever your background in astronomy. Please come along to some of our open events or talk to our friendly committee if you are considering joining.</p>
</Layout>