---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
    <h1>How we use your Personal Information – Cambridge University Astronomical Society</h1>
    
    <p>This notice explains that personal data that Cambridge University Astronomical Society (CUAS, "we", "our") collects about our members and others, and how we handle and use this information.</p>
    
    <p>The controller of your personal information is Cambridge University Astronomical Society.</p>
    <p>Questions about data protection should be directed to the Secretary, who can be contacted using the details supplied on the society website.</p>
    
    <p>Unless otherwise stated, all data can be accessed only by any member of the current named committee.</p>
    
    <h2>Our data can be broken down into the following purposes:</h2>
    <ul>
        <li>
            <p>We have a <strong>legitimate interest</strong> in holding the following <strong>membership details</strong>, collected when you sign up as a member, in order to a) contact our members, b) check the membership status of those who wish to attend our events, c) create membership cards so members can prove their membership status:</p>
            <p>Date of joining, forename, surname, college, crsid/email, payment status</p>
            <p>This information is <strong>kept for the duration of the membership</strong> (1 Year, 3 Years or for Life)</p>
            <p>We may be required by the <strong>university authorities</strong> to share this data with them.</p>
        </li>
        <li>
            <p>We have a <strong>legitimate interest</strong> in keeping <strong>alumni details</strong> for a limited number of members, including details of any roles within the society and any notable career points, for example in order to invite significant or prominent members to anniversary dinners or to address the society.</p>
        </li>
        <li>
            <p>We have a <strong>legitimate interest</strong> in holding <strong>attendance lists at observing training</strong> and <strong>lists of those with observation privileges</strong> to a) facilitate members to take the required training and tests for use of the telescope, b) know who in the society has access to the telescopes, c) create observation cards to allow the borrowing of the keys. This information will be <strong>kept for as long as necessary to facilitate the above</strong> and may be cross-referenced with the main membership list. We may be required by the <strong>Institute of Astronomy</strong> or <strong>Churchill College Porters</strong> to share this information with them to confirm an individual's access rights or to resolve any issues resulting from a CUAS member's use of the telescopes.</p>
        </li>
        <li>
            <p>We have a <strong>legitimate interest</strong> in data provided specifically with regard to a <strong>standalone event</strong> (such as the annual dinner) or <strong>merchandise order</strong> to contact you about things such as, but not limited to, order details, payment, collection and reminders. This may include <strong>important information for your safety</strong> such as dietary requirements. Information may be <strong>shared with named third parties</strong> responsible for providing the goods or services required and will be anonymised in the process where possible. Full information will be <strong>kept until all transactions have been carried out and fulfilled</strong> but elements may remain in financial records.</p>
        </li>
        <li>
            <p>We have a <strong>mailing list</strong> run using the <strong>University Information Services Mailman system</strong> (lists.cam.ac.uk) which registers emails/crsids and recognises the user name associated with the latter. This is <strong>used by the committee</strong> of the society to market our events and third parties are not permitted to message the list. <strong>Society members</strong> will, unless otherwise requested, be automatically subscribed on the basis of <strong>legitimate interest</strong>. Otherwise, those who <strong>consent</strong> will be members of this list – this will be taken to be those who actively confirm their consent when providing us with their email address/crsid, or those who manually subscribe on the system itself. Those who consent will remain on this list until the email address is deactivated or when their <strong>consent is removed</strong> – <strong>consent can be removed at any time by unsubscribing</strong> from the list using the Mailman system.</p>
        </li>
        <li>
            <p>Data may be held by <strong>third party bodies online</strong> through which users engage with the society, such as Facebook.</p>
        </li>
        <li>
            <p><strong>Archival information</strong> may be held by committee members or stored in libraries such as the Institute of Astronomy Library or University Library, where it may be accessible to view by staff of these bodies or visiting readers. This information may contain personal details of committee members where relating to due process of the committee, such as minutes, financial records and lists of officers, as well as ordinary members where mentioned in society publicity, event attendance lists, financial records or observing records.</p>
        </li>
    </ul>
    
    <p>Throughout, our normal legal basis for processing your personal information is that we believe it is in our legitimate interests to do so, in order for the society to run effectively and efficiently, as members have a reasonable expectation to be informed of events and for us to be able to confirm their rights as members. If we use your personal information outside of the purposes listed here, we will seek your consent to do so in advance.</p>
    
    <h2>Your rights</h2>
    <p>You have the right to access the personal information that we hold about you. You also have the right to ask us to correct any inaccurate personal information we hold about you, to delete personal information, to otherwise restrict our processing, to object to processing or communications, or to receive an electronic copy of the personal information you provided to us. Please note that all of these rights are qualified in various ways. In particular, you have the right to withdrawn consent at any time.</p>
    
    <p>If you remain unhappy with the way your information is being handled, or with the response received from us, you have the right to lodge a complaint with the Information Commissioner's Office at Wycliffe House, Water Lane, Wilmslow, SK9 5AF (<a href="https://ico.org.uk/">https://ico.org.uk/</a>).</p>
    
    <p><em>This version: 1</em><br>
    <em>Last updated: 11/05/2018</em></p>
</Layout>