---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1>Observation Guides</h1>

  <a href="/obsguide2023.pdf">Original PDF Guide</a> - please read this through, the below are based off this guide but may not be as detailed.

  <h2>Telescope guides</h2>

  <p><a href="/obs/guides/northumberland">Northumberland</a></p>

  <p><a href="/obs/guides/thorrowgood">Thorrowgood</a></p>

  <h2>Other guides</h2>

  <p><a href="/obs/guides/binoculars">Binoculars</a></p>

  <p><a href="/obs/guides/general">General Observation</a></p>
</Layout>
