---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1>Observation Guides</h1>


  <a href="/obsguide2025.pdf">PDF Observation Guide</a> - please read this through, the below are based off this guide but may not be as detailed.

  <h2>Telescope guides</h2>

  <p><a href="/obs/guides/northumberland">Northumberland</a></p>

  <p><a href="/obs/guides/thorrowgood">Thorrowgood</a></p>

  <h2>Other guides</h2>

  <p><a href="/obs/guides/binoculars">Binoculars</a></p>

  <p><a href="/obs/guides/general">General Observation</a></p>


  <a href="/obsguide2023.pdf">Outdated 2023 PDF Guide</a> - the Observation Guide has recently been updated, but this is still here for reference if needed. For the most up to date information, please refer to the 2025 guide above.
</Layout>
