---
import Layout from '../../layouts/Layout.astro';
---

<Layout>

<h1>Observing</h1>

<p>Members of CUAS have the opportunity to use the historic telescopes and other equipment at the Institute of Astronomy (IoA). </p>

<p>You will need an ObsCard to be able to sign out the card for accessing the telescopes at Churchill College Porters’ Lodge. To get an ObsCard, you need to have attended two demonstrations (ObsDemos) which teach you how to use the telescopes correctly and passed a test (ObsTest). The society also runs observation nights (ObsNights): you do not need to have been to an ObsDemo or taken the test in order to attend these.</p>

<p>ObsDemos are held regularly by the Observation Secretaries (ObsSecs). Announcement of dates and times will be sent to our mailing list. If you wish to have an ObsDemo, but none are currently scheduled, email the ObsSecs. Members of CUAS who already have an ObsCard but have not used the telescopes for a while or are uncertain on the details are encouraged to attend an ObsDemo again.</p>

<p>ObsNights are also organised by the ObsSecs and held at the Institute of Astronomy. At ObsNights there is the chance to see objects ranging from the Moon and planets to distant galaxies many millions of light years away, and there is usually a guided tour of the sky given by an ObsSec. Clear nights are difficult to predict, so ObsNights are normally arranged only a couple of days in advance; as with ObsDemos, dates and times are sent to the mailing list.</p>

<h2>Using equipment</h2>

<p>The telescopes are delicate instruments; they are difficult and expensive to repair. Learning to use them and enjoy observing is easy, but care is needed. Read and use the ObsGuide, which gives step-by-step instructions. If there are any questions or problems do not hesitate to contact an ObsSec, the Chair, or other committee members. Emergency details are provided on signs in the Northumberland Annexe.</p>

Clear skies and happy observing!

<h2>Useful resources</h2>

<ul>
    <li><a href="https://stellarium-web.org/">Stellarium web</a>: </li>
    <li><a href="https://stellarium-labs.com/">Stellarium mobile</a></li>
    <li><a href="https://telescopius.com/">Telescopius</a>: night sky target finder with powerful filtering tools for optical and astrophotography</li>
    <li><a href="https://aurorawatch.lancs.ac.uk/">AuroraWatch UK</a>: aurora alerts</li>
    <li><a href="https://www.aurorasaurus.org/">Aurorasaurus</a>: crowd sourced Auroa sighting platform</li>
    <li><a href="https://www.heavens-above.com/">Heavens Above</a>: satellite tracking and other astronomical information</li>
    <li><a href="http://tel05.ast.cam.ac.uk/">Insitute of Astronomy all sky camera</a></li>
    <li><a href="https://skyandtelescope.org/astronomy-news/observing-news/">Sky and Telescope</a>: observation and celestial news</li>
    <li><a href="https://www.sat24.com/en-gb">Sat24.com cloud radar</a></li>
    <li><a href="https://clearoutside.com/forecast/52.21/0.10">Clear outside</a>: forecasting for observation</li>
</ul>
    

<img style="float: right;" src="https://clearoutside.com/forecast_image_medium/52.21/0.10/forecast.png" />

</Layout>
