---
import Layout from '../../layouts/Layout.astro';
---

<Layout>

<h1>Telescopes and equipment</h1>

<p>Please see the <a href="/obs/guides/">guides on how to use the equipment</a>. If in doubt please contact an Obs Sec.</p>

<h2>Telescopes</h2>

The telescopes of the University can be found in the Institute of Astronomy grounds. For more information about the historic telescopes, please see the IoA webpages.

<h3>Northumberland</h3>

A 12-inch (305 mm) refractor with 20 ft focal length (f/20), the Northumberland is housed in the large copper dome. It was built in 1838 from a design by George Airy and equatorially-mounted in the English-style. The telescope is very famous, and was one of the largest when it was built. The current optics are modern, an achromatic doublet designed by Dr R.V. Willstrop of the IoA and installed to mark the 150th anniversary of the telescope. More recently, digital encoders for the RA axis and computerised object directories have been installed.

<h3>Thorrowgood</h3>

This is the smaller of the two telescopes, found in the wooden dome. It is an 8-inch (203 mm) refractor, built in 1864. The focal length is 114 inches (f/14). The equatorial mounting is an example of the ‘German’ form, which means it has no blind spot – the entire night sky is visible. It was bequeathed to the RAS in 1928, and is now actually on extended loan to Cambridge from them. An electric RA drive has replaced the original clockwork one, but the old mechanism is still visible. As of 2024, the broken dome has been completely rebuilt, and the telescope is usable again.


<h3>Meade LX200</h3>

<p>This is an 8-inch (203 mm, f/10) Schmidt-Cassegrain telescope (SCT) on loan to CUAS from Jonathan Shanklin. It is a fork-mounted computerised “Go-To” telescope – after setup, it can automatically find objects from an extensive directory. It is available on ObsNights, but not for ordinary members to use</p>

<h3>Celestron CPC 800</h3>

<p>This is another 8-inch (203 mm, f/10) Schmidt-Cassegrain telescope (SCT), donated to CUAS by Prof. David Cope. It is also a fork-mounted computerised “Go-To” telescope – after setup, it can automatically find objects from an extensive directory. As with the LX 200 it is available on ObsNights, but not for ordinary members to use.

<h3>David Payne Telescope</h3>

<p>This is a 12.5-inch handmade Dobsonian telescope which was donated to CUAS. It is very simple to use and especially suited to observing deep sky objects due to its large objective diameter.</p>

<h3>Vixen Binoculars</h3>

<p>The Vixen binoculars were donated by the BAA. They are excellent for observing many of the large deep-sky objects and touring the Milky Way star fields. They have an associated wooden tripod and parallelogram mounting, as they are heavy and difficult to hold steady by hand.</p>

<h2>Astrophotography</h2>

<p>CUAS has some equipment to facilitate astrophotography, such as a Canon camera T-mount with a 2-inch adapter, and filters including UHC and OIII.</p>
<!-- 
<h2>Other equipment</h2>

<p></p> -->
    
</Layout>
