---
import Layout from '../../layouts/Layout.astro';
import TalkTermCards from '../../components/talkTermCards.astro';
---

<Layout>

    <h1>Talks</h1>

    <p>Join us at CUAS talks where passionate astronomers bring the wonders of the universe down to Earth. Our speakers come from diverse backgrounds and share fascinating insights on everything from the latest space missions to ancient celestial navigation—all explained in ways that make sense whether you're studying astrophysics or just love gazing at the night sky.</p>
<p>Our talks create the perfect space to feed your curiosity about the cosmos. After each hour-long presentation, stick around for refreshments and chat directly with our guest speakers and fellow stargazers in a relaxed atmosphere. It's a great way to make connections and deepen your appreciation of astronomy. CUAS members attend for free, while non-members pay just £2. To stay in the loop about upcoming talks, check out our termcard at the start of each term or join our weekly email updates.</p>

<p>See our <a href="/talks/previous">past talks</a> and <a href="/talks/upcoming">upcoming talks</a>. We also have <a href="/talks/recordings">recorded talks</a> available to watch.</p>

You can find all our talks on our <a href="https://talks.cam.ac.uk/show/index/201664">Cambridge Talks page</a> where you can add it to your talks calendar feed or subscribe to our <a href="webcal://talks.cam.ac.uk/show/ics/201664">ICS feed</a> directly.

<p>If you are interested in doing a talk, please email our <a href="/about/committee">Speaker Liaison</a></p>


<h2>Previous term cards</h2>
    <TalkTermCards />
</Layout>

<!-- webcal://talks.cam.ac.uk/show/ics/16901  -->