---
import Layout from '../../layouts/Layout.astro';
---

<Layout>

    
    <h1>Previous talks</h1>




    <script language="javascript" type="text/javascript" src="https://talks.cam.ac.uk/show/detailed/201664?seconds_after_today=86400&layout=embedcss"></script> 

</Layout>