---
import Layout from '../../layouts/Layout.astro';
---

<Layout>

    <h1>Talk recordings</h1>

    <em>You can click on the top right most icon on each video window or the year header to show that year's playlist</em>

    <h2><a href="https://www.youtube.com/playlist?list=PLKl4TfEHn_cMHG1zpQzIKxSC5IRNpl-_g" target="_blank">2024-25 Talks</a></h2>
    <div class="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=8C2vL4-tFinuMVk9&amp;list=PLKl4TfEHn_cMHG1zpQzIKxSC5IRNpl-_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <h2><a href="https://www.youtube.com/playlist?list=PLKl4TfEHn_cMnKS614VRnlalevHCWI6tb" target="_blank">2023-24 Talks</a></h2>
    <div class="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=UOzDahYak_8beyRV&amp;list=PLKl4TfEHn_cMnKS614VRnlalevHCWI6tb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <h2><a href="https://www.youtube.com/playlist?list=PLKl4TfEHn_cMsjwAKg4LGHf6eWxY1mpW0" target="_blank">2022-23 Talks</a></h2>
    <div class="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=ua4Vvs45v6Ml80Wp&amp;list=PLKl4TfEHn_cMsjwAKg4LGHf6eWxY1mpW0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <h2><a href="https://www.youtube.com/playlist?list=PLKl4TfEHn_cMs65rKRbqRT6W3zPkXumO1" target="_blank">2021-22 Talks</a></h2>
    <div class="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=0EqmtsojY-nzsk5D&amp;list=PLKl4TfEHn_cMs65rKRbqRT6W3zPkXumO1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</Layout>