---
import Layout from '../../layouts/Layout.astro';
---

<Layout>

    <h1>Upcoming Talks</h1>

    You can find all our talks on our <a href="https://talks.cam.ac.uk/show/index/201664">Cambridge Talks page</a> where you can add it to your talks calendar feed or subscribe to our <a href="webcal://talks.cam.ac.uk/show/ics/201664">ICS feed</a> directly.

    <script language="javascript" type="text/javascript" src="https://talks.cam.ac.uk/show/detailed/201664?seconds_before_today=86400&layout=embedcss"></script> 

</Layout>