---
import Layout from '../../layouts/Layout.astro';
---

<Layout>

    <h1>Upcoming Talks</h1>

    <script language="javascript" type="text/javascript" src="https://talks.cam.ac.uk/show/detailed/16901?seconds_before_today=86400&layout=embedcss"></script> 

</Layout>