---
import "../assets/headerfooter.css";
import { Image } from 'astro:assets';
import cuasLogo from '../assets/cuas_logo_white_on_transparent_rect.svg';
---
<footer class="lg:flex p-5 items-center justify-between">
    <Image src={cuasLogo} alt="CUAS Logo" class="h-15" />
    <ul class="small-text">
      <li><a href="/about/privacy">Our privacy policy</a></li>
      <li><a href="/about/committee">Contact the Committee</a></li>
      <li><a href="https://github.com/cu-astronomical-society/website">Website hosted on Github</a></li>
    </ul>
</footer>