---
import "../assets/headerfooter.css";
import cuasLogo from "../assets/cuas_logo_rect_white_transparent.svg";
---
<footer class="lg:flex p-5 items-center justify-between">
    <img src={cuasLogo.src} alt="CUAS Logo" class="h-15" />
    <ul class="small-text">
      <li><a href="/about/privacy">Our privacy policy</a></li>
      <li><a href="/about/committee">Contact the Committee</a></li>
      <li><a href="https://github.com/cu-astronomical-society/website">Website hosted on Github</a></li>
    </ul>
</footer>