---
import Layout from '../../../layouts/Layout.astro';
---

<Layout>

    <h1>Obs Guide - General Observing</h1>

    <p>The Northumberland telescope is over 180 years old, and the Thorrowgood is only 30 years younger; both are historical relics in their own right, and still provide fantastic views of the night sky. For many years, CUAS members have had full use of the telescopes.</p>

    <h3>Before Going to the Telescopes</h3>
    <p>You cannot open the roof of the telescopes if it is raining, not to mention that it would be too cloudy to see anything anyway. This means you need to check the weather first, by looking out of the window before you leave, and/or using one of the other options:</p>
    
    <h4>Checking in advance</h4>
    <p>For the general forecast, check any decently reliable local weather forecast, like at the <a href="https://www.metoffice.gov.uk/" target="_blank">Met Office website</a>. For more detailed information on clouds, rain and wind (the clouds being the most relevant ones for observing, of course), you can check <a href="https://clearoutside.com/forecast/52.21/0.09" target="_blank">Clear Outside</a>, or one of the models available at <a href="https://www.wxcharts.com/" target="_blank">WXCHARTS</a>. It is usually possible to do some observing if there is only high cloud.</p>
    
    <h4>Current weather situation</h4>
    <p>The Institute of Astronomy (IoA) has an online all-sky camera at <a href="http://tel05.ast.cam.ac.uk" target="_blank">http://tel05.ast.cam.ac.uk</a>. <a href="https://www.netweather.tv/live-weather/radar" target="_blank">https://www.netweather.tv/live-weather/radar</a> is useful to see where it is currently raining in the UK. The satellite image at <a href="https://en.sat24.com/en" target="_blank">https://en.sat24.com/en</a> shows the cloud cover above the UK, although low cloud is not visible on infrared images.</p>
    
    <p>You may need a torch once you are there, but remember to use a red light to save your night vision (e.g. the rear bike light may be useful for that). Note that the telescopes are used by the IoA for Public Observing on Wednesday evenings from October to March in conjunction with the Cambridge Astronomical Association (CAA), and so the telescopes are unavailable for individual use then – however, you should feel free to join those events if you have time; usually a large array of IoA and CAA-owned telescopes is used, and the events can give you more insight into the sky-watching community.</p>
    
    <p>You can check advance telescope bookings at <a href="https://www.public.ast.cam.ac.uk/ioa-telescopebookings" target="_blank">https://www.public.ast.cam.ac.uk/ioa-telescopebookings</a>.</p>
    
    <p>Additionally, the Cambridge Astronomical Association (CAA) occasionally runs its own events and courses at the IoA, which may include the use of Northumberland and Thorrowgood telescopes: <a href="http://www.caa-cya.org" target="_blank">www.caa-cya.org</a>.</p>

    <h3>Getting Hold of the Key & the Alarm Code</h3>
    <p>To get hold of the key, go to Churchill College Porters' Lodge. You must hand over your ObsCard and sign for the key there. Make sure you have the key with you at all times, particularly when you leave the domes. The entrance doors to both domes lock upon closing, and you don't want to be stranded outside at night.</p>
    
    <p>It goes without saying that you should never hand the key over to anyone that doesn't have their ObsCard, but if you wish to hand over the key to another observer, this second observer will need to have signed, as otherwise the first observer will be held accountable if the key is missing. If need be, the second observer can sign at Churchill and then instead hand their ObsCard to the first observer, who can then swap their ObsCard when they get back to Churchill. The second observer can then pick up their ObsCard at the end when they hand back the key. If such an event occurs, it should be documented in the book in the Northumberland annexe and countersigned by both parties.</p>
    
    <p>Bringing along a few friends is fine, but if you would like to bring a large group, i.e. more than 5 people, please ask the Observation Secretaries (ObsSecs) first: the email address is at the end of the guide. Alcohol and observing do not mix, so don't try it. Remember that you are dealing with very precious, historical instruments!</p>
    
    <p>If you wish to use the Northumberland dome, make sure you know the code to disable the alarm in it. The alarm was installed mainly due to the refurbishment of the dome in 2013 (it is now made of copper) and starts sounding immediately when you unlock and open the door. Upon request by the Institute of Astronomy, the code will only be given to you when you complete the ObsTest. If you forget the code, email the ObsSecs.</p>
    
    <p>If you do accidentally open Northumberland dome without knowing the code, don't panic! Enter the dome, turn on the lights and use the telephone installed there to call University Security at 31818. Explain the situation to them, and they should be able to advise you further. As the alarm is rather loud, it may be difficult to have a conversation from within the dome, so alternatively you can call them from your mobile phone; the external number is 01223 331818, you may wish to save this number. If you allow the alarm to go for more than 20 seconds, security will automatically be called – if you subsequently disable the alarm yourself, call security yourself and explain to them what has happened.</p>
    
    <p><b>Note:</b> If you do get stranded outside, you have three options:</p>
    <ol>
        <li>If you're at the telescopes during working hours (9-5) for some reason when this happens, go to the reception of the IoA (Hoyle Building) and ask for help.</li>
        <li>If you have a phone on you, or you somehow managed to leave the door to Northumberland open, you can contact University Security at 01223 (3)31818.</li>
        <li>If you do not have a phone on you and can't easily get hold of one, go to Churchill College Porters' Lodge and ask the porters to call University Security for you.</li>
    </ol>

    <h3>Keeping Record</h3>
    <p>Before observing, head straight to the Northumberland dome. To the right of the alcove with the computer in it, there is a desk with two books that need to be filled in.</p>
    
    <h4>Attendance Book</h4>
    <p>Sometimes called the "LogBook". This must be filled in every time you use the telescopes. Fill it in with your name (full name, not initials), the number of observers (yourself + any guests), the activity you're doing (you will be observing, so write obs), the telescope you're using (e.g. N for Northumberland), and the time you arrive and leave. Note that all ObsCard holders should individually sign in and out with the time they arrive and leave.</p>
    
    <h4>ObsBook</h4>
    <p>Put in here notes about any observing you did, and also any problems you noticed with the telescopes, like the RA screen in Northumberland not working, or the RA cylinder of Thorrowgood not being calibrated properly. If you notice that the telescope had not been properly put away by the person before you, or if you notice any defect or even if you happen to break something, do report it. Be honest, everybody makes mistakes and it is very important that everything is documented so that the people at the IoA who look after the telescopes have it easier to fix it. If you find a problem with the telescopes you should also email the ObsSecs, as they will know whether it is a serious issue and can pass it on to the right people if necessary.</p>

    <h3>General Rules</h3>
    <p>When observing, please remember:</p>
    <ul>
        <li>Never leave the domes unattended! Close the door of the Northumberland dome when you are going to use the Thorrowgood telescope, and vice versa (again: don't forget to take the key with you!).</li>
        <li>In the case of rain, close all domes immediately.</li>
        <li>Never attempt to clean any lens or eyepiece yourself. If it is dirty, note it in the ObsBook and email the ObsSecs, and someone will do it properly.</li>
        <li>Never look directly at the sun with your eyes, or binoculars, or any other observing equipment unless it is specifically designed for the purpose! This could severely damage your eyes!</li>
    </ul>

</Layout>