---
import Layout from '../../../layouts/Layout.astro';
---

<Layout>

<h1>Observation Guides</h1>

<a href="/src/assets/obsguide2023.pdf">Original PDF Guide</a>

<h2>Telescope guides</h2>

<a href="/obs/guides/northumberland">Northumberland</a>

<a href="/obs/guides/thorrowgood">Thorrowgood</a>

<h2>Other guides</h2>

<a href="/obs/guides/astrophotography">Astrophotography</a>
    
</Layout>
