@import "tailwindcss";

.hidden {
    display: none;
  }

  .center {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

p {
    font-size: 1em;
    margin-bottom: 0.5em;
}

/* Link styling */
a {
    color: #112330;
    text-decoration: underline;
}

