@import "tailwindcss";

.hidden {
    display: none;
  }

  .center {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 2em;
    text-align: center;
    margin-top: 3em;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5em;
    /* font-weight: bold; */
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

p {
    font-size: 1em;
    margin-bottom: 0.5em;
}

/* Link styling */
a {
    color: #112330;
    text-decoration: underline;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}