:root {
    --header-bg-color: #000000; /* Example color */
    --header-text-color: #ffffff; /* White color */
}

header, footer {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
}

header .menu-icon, footer a {
    color: var(--header-text-color);
}

header .dropdown-button svg {
    color: var(--header-text-color);
}

header .dropdown-items {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
}

header .dropdown-items .dropdown-content {
    background-color: var(--header-bg-color);
}

header a, footer a {
    color: var(--header-text-color);
    text-decoration: none;
}

header ul, header li, footer li, footer ul {
    list-style-type: none;
}

.left-align {
    margin-left: 0;
    margin-right: auto;
}

.image-wrapper {
    position: relative;
    height: 72px;
    width: 90px;
}

.image-container {
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.2s linear; /* Smooth transition for all properties */
    z-index: 10;
    cursor: pointer; /* Indicate clickable area */
}

footer .image-container:hover {
    transform: scale(0.95); /* Shrink by 5% */
}

.image-container.expanded {
    width: auto; /* Scale to fit 70% of the screen width */
    height: 70vh; /* Maintain aspect ratio */
    max-height: 70vh; Scale to fit 70% of the screen height
    position: fixed; /* Fix position to viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the image */
    z-index: 1001; /* Ensure it is above the overlay */
}

.image-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--header-bg-color); /* Border color matching the background */
    z-index: -1; /* Place behind the image */
}

#telescope-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the image */
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure it is below the expanded image */
    display: none; /* Hidden by default */
}

.overlay.visible {
    display: block; /* Show when visible */
}

.small-text {
    font-size: 0.65rem; /* Adjust the size as needed */
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}