:root {
    --header-bg-color: #112330; /* Example color */
    --header-text-color: #ffffff; /* White color */
}

header, footer {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
}

header .menu-icon, footer a {
    color: var(--header-text-color);
}

header .dropdown-button svg {
    color: var(--header-text-color);
}

header .dropdown-items {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
}

header .dropdown-items .dropdown-content {
    background-color: var(--header-bg-color);
}

header a, footer a {
    color: var(--header-text-color);
}
