---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import '../assets/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>CU Astronomical Society</title>
	</head>

	<body>
		<Header />
		<div class="content-container">
			<div class="content">
				<slot />
			</div>
			<span class="flex-spacer"></span>
		</div>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.content {
		margin: 0 5%;
	}
	.flex-spacer {
		flex-grow: 1;
	}
	.content-container {
		width: 100%;
		max-width: calc(100vh * 16/9); /* 16:9 aspect ratio based on viewport height */
		margin: 0 auto; /* Center the container */
		box-sizing: border-box;
		padding: 0 1rem; /* Add some padding for small screens */
	}

	@media (max-width: calc(100vh * 16/9)) {
		.content-container {
			padding: 0 1rem; /* Maintain padding on smaller screens */
		}
	}
</style>
